header{
  background-color: none;
  padding: 0px 20px;
  text-align: left;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header h1{
  color: #04aa6d;
  border: 4px solid gray;
  display: inline-block;
  padding: 1px 5px;
  border-radius: 8px;
  margin-left: 10px;
}

body{
  margin: 0px;
  font-family: Inter;
}

.banner{
  position: relative;
}

.banner img{
  max-width: 100%;
  opacity: 30%;
}

.banner .welcome{
  background:none;
  color: #04aa6d;
  padding: 30px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
}

.banner .welcome span{
  font-weight: bold;
  font-size: 1.1em;
  text-shadow:3px 3px 5px #04aa6d;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d0dce1;
  opacity: 90%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #282a35;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 25px;}
}

nav{
  background: #F4F4F4;
  padding: 20px;
  position: static;
  top: 106px;
  z-index: 1;
  margin-top: -3px;
}
nav ul{
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li{
  width: 25%;
  display: inline-block;
  font-size: 24px;
}
nav li a{
  text-decoration: none;
  color: #4B4B4B;
}
nav li a:hover{
  text-decoration: underline;
}
nav li a.index{
  color: #04aa6d;
  font-weight: bold;
}

main{
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h2{
  color: #F63232;
  font-size: 48px;
}
article p{
  line-height: 2em;
  color: #4B4B4B;
}
article p::first-line{
  font-weight: bold;
  font-size: 1.2em;
}
